/* Utils */

.text-smaller {
    font-size: 80%;
}

/* Page */

body {
    font-family: 'Vollkorn', Georgia, serif;
    line-height: 24px;
    background: #222;
    box-shadow: inset 0 0 200px #000;
    color: #eee;
}

a {
    color: #ffbbee;
}

header > nav {
    background-color: black;
}

.main-content {
    padding-top: 100px;
    box-shadow: 0px 0px 40px 20px #000;
}

footer {
    border-top: 2px solid #777;
    margin: 40px 20px;
    padding: 15px;
    padding-top: 30px;
}

/* img {
  max-width: 100%;
} */

/* Navigation */

.rss-icon {
  height: 14px;
  padding-left: 5px;
}

article {
    margin: 40px 20px;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0px 0px 20px 10px #2a3036;
}

article aside.dates {
    font-size: 70%;
}

article .postmeta {
    font-size: 80%;
    color: #bbb;
}

article.photo .preview img {
    max-height: 150px;
}

/* Footer */

#photos {
  display: flex;
  flex-flow: row wrap;
}

.photo-item {
  display: block;
  height: 75px;
  margin: 1px;
  overflow: hidden;
  padding: 0;
  width: 75px;
}

.photo-item img {
  flex: auto;
  -webkit-transition: -webkit-transform 0.15s ease 0s;
  -moz-transition: -moz-transform 0.15s ease 0s;
  -o-transition: -o-transform 0.15s ease 0s;
  transition: transform 0.15s ease 0s;
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  height: 100%;
  width: 100%;
  opacity: 0.6;
}

.photo-item img:hover {
  -webkit-transform: scale3d(1.05, 1.05, 1.05);
  transform: scale3d(1.05, 1.05, 1.05);
  opacity: 1.0;
}
