{{ partial "site_header.html" . }}
{{ partial "page_header.html" . }}

<div class="container-fluid bg-dark text-white">
  <div class="row flex-xl-nowrap">
    <div class="main-content container col-12 col-lg-8 bd-content">
      <main class="main content">
        <article class="post">
          {{ if (not (isset .Params "externalurl")) }}
          <h2><a rel="full-article" href="{{ .Permalink }}">{{ .Title }}</a></h2>
          {{ else }}
          <h2><a rel="remote-article" href="{{ .Params.externalurl }}">→ {{ .Title }}</a> <a href="{{ .Permalink }}">∞</a></h2>
          {{ end }}
          
          <div class="postmeta">Posted on <time datetime="{{ .Date }}" pubdate="">{{ .Date.Format "January 2, 2006" }}</time> in
            <span class="categories">
              {{ range $i, $v := .Params.categories }}
              <a class="category" href="/categories/{{ $v | urlize }}">{{ $v }}</a>{{ if ne (len $.Params.categories) (add $i 1) }}, {{ end }}
              {{ end }}
            </span>
          </div>
          
          <p>
            {{ .Content }}
          </p>
        </article>
      </main>
      {{ partial "page_footer.html" . }}
    </div>
  </div>
</div>

{{ partial "site_footer.html" . }}
      
