<footer>
  <div class="container-fluid">
    <div class="row flex-xl-nowrap">
      <div class="container col-12 col-lg-8 bd-content">
        <div class="row">
          <div class="col-3 col-md">
            <h3>Hi, <a href="{{ .Site.Author.aboutpage }}">I'm {{ .Site.Author.firstname }}</a></h3>
            <p>
              {{ partial "bio.html" . }}
            </p>
          </div>
          {{ if isset .Site.Author "flickrid" | and ( not ( eq .Site.Author.flickrid "" ) ) }}
          <div class="col-3 col-md">
            <h3><a href="https://www.flickr.com/photos/{{ .Site.Author.flickrid }}/">Photo Stream</a></h3>
            <div id="photos"></div>
          </div>
          {{ end }}
        </div>
        
        {{ if .Site.Params.showcopyright }}
        <div class="row">
          <div class="col-12 col-xl">
            &copy; {{ now.Format "2006" }} <a href="{{ .Site.Author.aboutpage }}">{{ .Site.Author.firstname }} {{ .Site.Author.lastname }}</a>
            {{ with .Site.Author.disclaimer }} - {{ . }}{{ end }}
            {{ with .Site.Author.location }} - Made in {{ . }}{{ end }}
          </div>
        </div>
        {{ end }}
      </div>
    </div>
  </div>
</footer>
